name: Test

on:
  push:
    branches: [ main ]
    paths:
    - src/**
    - tests/**
    - pyproject.toml
    - .github/workflows/test.yaml
    - .github/workflows/constraints.txt
  pull_request:
    branches: [ main ]
    paths:
    - src/**
    - tests/**
    - pyproject.toml
    - .github/workflows/test.yaml
    - .github/workflows/constraints.txt
  workflow_dispatch: {}
  schedule:
  - cron: "40 12 * * 1-5"

concurrency:
  cancel-in-progress: true
  group: ${{ github.workflow }}-${{ github.head_ref || github.run_id }}

env:
  FORCE_COLOR: "1"

jobs:
  lint:
    name: Lint
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
    - uses: astral-sh/setup-uv@1e862dfacbd1d6d858c55d9b792c756523627244 # v7.1.4
    - name: Lint and type check
      run: |
        uvx tox -m lint

  test:
    name: Pytest (Python ${{ matrix.python-version }}, ${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.python-version == '3.13' || matrix.python-version == '3.14' }}
    strategy:
      fail-fast: false
      matrix:
        os: ["ubuntu-latest"]
        python-version:
        - "3.8"
        - "3.9"
        - "3.10"
        - "3.11"
        - "3.12"
        - "3.13"
        - "3.14"
        - "pypy3.11"
        include:
        - python-version: "3.7"
          os: "ubuntu-22.04"
        - python-version: "3.14"
          os: "windows-latest"
        - python-version: "3.14"
          os: "macos-latest"
    steps:
    - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
    - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      id: setup-python
      with:
        cache: pip
        python-version: ${{ matrix.python-version }}
        allow-prereleases: true
    - run: pip install .
    - run: python -Im unittest -v
